.suggestions{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
#carArea{
    height:auto;
    background-color: #282c34;
    display: flex;
}
#searchArea{
    height: 20em;
    display: flex;
    align-items: center;
}