.suggestions{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
#carArea{
    height:auto;
    display: flex;
}
#searchArea{
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../imgs/porsche.jpg');
    background-position: center;
    background-repeat: no-repeat;
}