/*@import "~react-image-gallery/styles/scss/image-gallery.scss";*/
@import "~react-image-gallery/styles/css/image-gallery.css";

#bordered{
    border: 2px solid black;
}

#arrow{
    transform: rotate(180deg);
    height: 20px;
}

#bookButton{
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}

#summary{
    margin-left: 16px;
}

